{% extends "../CSG-base.njk" %}
{# Import the macro #}
{% import "../macros/meal-macros.njk" as mealMacros %}

{# Example meal data #}
{% set meals = [
  { name: "Spaghetti", calories: 400, protein: 10  },
  { name: "Chicken Salad", calories: 350, protein: 15 },
  { name: "Veggie Stir Fry", calories: 300, protein: 20 },
  { name: "beef Stir Fry", calories: 300, protein: 25 },
  { name: "Chicken Stir Fry", calories: 300, protein: 30 },
  { name: "Danny's 'Pon De Brake!' Stir Fry", calories: 300/400, protein: 3/4 }
] %}

{% block content %}
<div class="page-border">
  <strong>page.njk (green border)</strong>
  <h2 style="margin-top: 0rem; text-align: center;" >Morning Meals</h2>


<div class="meal-list">
  {% for meal in meals %}
    {{ mealMacros.mealCard(meal) }}
  {% endfor %}
</div>




<h2 style="margin-top: 0rem; text-align: center;">Evening Meals</h2>
<div class="meal-list">
  <h2 style="margin-top: 2rem; text-align: center;">Evening Meals-inPage</h2>
  
  {% for meal in meals %}
    {{ mealMacros.mealCardNames(meal) }}
  {% endfor %}
</div>

{% endblock %}


</div>
</div>
